<!DOCTYPE html>
<html>
<head>
    <title>Auth</title>
    <link rel="stylesheet" href="~/css/auth.css">
    <link href="~/css/site.css" rel="stylesheet" />
</head>

<body>

<div class="auth-container">
    @RenderBody()
</div>

</body>
</html>