<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData"
                   DefaultLayout="@typeof(FoodHealthy.Components.Layouts.AdminLayout)" />
    </Found>
    <NotFound>
        <p>Không tìm thấy trang</p>
    </NotFound>
</Router>