@namespace FoodHealthy.Components.Admin

@{
    Layout = "~/Views/Admin/Shared/_LayoutAdmin.cshtml";
}

<div class="p-6">
    <component type="typeof(FoodHealthy.Components.Admin.StaffTable)" 
               render-mode="Server" />
</div>